@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
body{
    font-size: 24px;
}
.container{
    min-width: 1300px;
    margin: 0 auto;
}
.header{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 23px;
    margin-top: 40px;
}
.logo{
    max-width: 30%;
}
.a{
    text-decoration: none;
    margin-left: 29px;
    color: #3b3b3b;
    margin-right: 15px;
}
.a:hover{
    color: blue;
    border-bottom: 2px solid blue;
    padding:5px ; 
}
.header-text{
    display: flex;
    justify-content: space-around;
}
footer{
    text-align: center;
    font-size: 20px;
    padding: 15px;
}


button{
    background-color: rgb(110, 110, 226);
    border: none;
    border-radius: 5px;
}
h1{
    text-align: center;
}
section{
    text-align: center;
}
.but{
    color: white;
    text-decoration: none;
    padding: 6px;
}
button:hover{
    transform: scale(1.2);
}
.but:hover{
    color: white;
}
.sec-text{
    display: flex;
}
img{
    max-width:300px;
}